html{
    scroll-behavior: smooth;
}



ul{
    text-align: right;
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 3;
}


ul li{
    display: inline;
    list-style: none;
    text-align: right;
}

li a{
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}
